<a href="https://colab.research.google.com/github/dikraMasrour/Breast_Cancer_Risk_Factor_Prediction_KG/blob/main/BC_KG_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Breast cancer biomedical KG Exploratory Data Analysis

In [1]:
# imports
import pandas as pd
import numpy as np
from collections import Counter

In [2]:
# mounting drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
dataPath = "/content/drive/MyDrive/Colab Notebooks/KG_breast_cancer/Copie de all_data_triples_can.csv"
df = pd.read_csv(dataPath, compression='gzip')
df.head()

    PREDICATE  ORIGIN_ID SUBJECT_CUI OBJECT_CUI
0  PROCESS_OF          0    C0003725   C0999630
1         ISA          1    C0039258   C0446169
2         ISA          2    C0318627   C0206590
3         ISA          3    C0446169   C0003725
4  PROCESS_OF          4    C0012634   C0020114

In [4]:
df.shape

(28720666, 4)

Rename columns to prepare for creating a TorchKGE knowledge graph

In [5]:
df.rename(columns={'SUBJECT_CUI': 'from', 'PREDICATE': 'rel', 'OBJECT_CUI': 'to'}, inplace=True)
df.head()

          rel  ORIGIN_ID      from        to
0  PROCESS_OF          0  C0003725  C0999630
1         ISA          1  C0039258  C0446169
2         ISA          2  C0318627  C0206590
3         ISA          3  C0446169  C0003725
4  PROCESS_OF          4  C0012634  C0020114

Drop unused 'ORIGIN_ID' column

In [6]:
df.drop('ORIGIN_ID', axis=1, inplace=True)
df.head()

          rel      from        to
0  PROCESS_OF  C0003725  C0999630
1         ISA  C0039258  C0446169
2         ISA  C0318627  C0206590
3         ISA  C0446169  C0003725
4  PROCESS_OF  C0012634  C0020114

In [7]:
# distinct relationships
df.rel.unique(), df.rel.unique().shape

(array(['PROCESS_OF', 'ISA', 'CAUSES', 'LOCATION_OF', 'PART_OF',
        'PRODUCES', 'INTERACTS_WITH', 'AFFECTS', 'TREATS', 'USES',
        'COEXISTS_WITH', 'DIAGNOSES', 'compared_with', 'INHIBITS',
        'STIMULATES', 'CONVERTS_TO', 'ASSOCIATED_WITH', 'NEG_OCCURS_IN',
        'OCCURS_IN', 'NEG_ASSOCIATED_WITH', 'COMPLICATES', 'PREVENTS',
        'NEG_CAUSES', 'NEG_PROCESS_OF', 'PREDISPOSES', 'NEG_TREATS',
        'higher_than', 'METHOD_OF', 'NEG_AFFECTS', 'lower_than',
        'DISRUPTS', 'MEASURES', 'AUGMENTS', 'ADMINISTERED_TO',
        'NEG_STIMULATES', 'NEG_PART_OF', 'NEG_PRODUCES', 'PRECEDES',
        'MANIFESTATION_OF', 'NEG_ADMINISTERED_TO', 'NEG_LOCATION_OF',
        'NEG_COEXISTS_WITH', 'NEG_INTERACTS_WITH', 'NEG_AUGMENTS',
        'NEG_ISA', 'MEASUREMENT_OF', 'same_as', 'NEG_INHIBITS',
        'NEG_DISRUPTS', 'NEG_USES', 'NEG_MEASURES', 'NEG_PREDISPOSES',
        'NEG_PREVENTS', 'NEG_DIAGNOSES', 'NEG_METHOD_OF', 'NEG_same_as',
        'NEG_higher_than', 'NEG_PRECEDES', 'NEG_CONVERTS_TO',
        'NEG_MANIFESTATION_OF', 'NEG_MEASUREMENT_OF', 'NEG_COMPLICATES',
        'NEG_lower_than', 'PREP', '241', '1532', 'NOM', 'VERB'],
       dtype=object), (68,))

In [ ]:
# distinct objects
df['from'].unique(), df['from'].unique().shape

(array(['C0003725', 'C0039258', 'C0318627', ..., 'C3645163', 'C1283601',
        'C1979657'], dtype=object), (309555,))

In [ ]:
# distinct subjects
df['to'].unique(), df['to'].unique().shape

(array(['C0999630', 'C0446169', 'C0206590', ..., 'C0948269', 'C1625850',
        'C5466877'], dtype=object), (263115,))

#### Filtering the least common relationships

In [8]:
# get count for distinct relationships
rel_counter = Counter(df['rel'])
# filter counts based on min threshold of 100
filtered_rel_counter = {rel: count for rel, count in rel_counter.items() if count < 100}
# get filtered relationships
filtered_rel = list(filtered_rel_counter.keys())
len(filtered_rel_counter), filtered_rel_counter

(6,
 {'NEG_MEASUREMENT_OF': 43,
  'PREP': 10,
  '241': 2,
  '1532': 2,
  'NOM': 6,
  'VERB': 2})

In [9]:
# get indices to drop
rel_to_drop = {i for i in df.index if df['rel'][i] in filtered_rel}
# drop filtered relationships from df 
df.drop(rel_to_drop, inplace=True)

In [10]:
df.rel.unique().shape[0]

62

In [11]:
df.dropna(inplace=True)
df.shape

(28720601, 3)

#### Filtering the least common triples

In [12]:
vc = df[['from', 'to', 'rel']].value_counts().reset_index()

In [13]:
vc.shape[0]

23765908

In [14]:
vc_filter = vc[vc[0] < 3]
vc_filter

              from        to              rel  0
582649    C0075329  C0431085   INTERACTS_WITH  2
582650    C0163489  C0205054          PART_OF  2
582651    C0202668  C0022118  ASSOCIATED_WITH  2
582652    C0073393  C0024922   INTERACTS_WITH  2
582653    C0075339  C0037277           CAUSES  2
...            ...       ...              ... ..
23765903  C0039601  C0443158          AFFECTS  1
23765904  C0039601  C0443146          AFFECTS  1
23765905  C0039601  C0442893  ASSOCIATED_WITH  1
23765906  C0039601  C0442874           TREATS  1
23765907  C0068700  C0028866          AFFECTS  1

[23183259 rows x 4 columns]

In [15]:
temp = df.copy()

In [ ]:
new = (temp[['from', 'to']].stack().isin(vc_filter[['from', 'to']].stack().values)).unstack()
new

In [17]:
new1 = temp.reset_index().merge(vc_filter, on=['from', 'to', 'rel'], how='inner')

In [21]:
new1.index

Int64Index([       0,        1,        2,        3,        4,        5,
                   6,        7,        8,        9,
            ...
            26011595, 26011596, 26011597, 26011598, 26011599, 26011600,
            26011601, 26011602, 26011603, 26011604],
           dtype='int64', length=26011605)

In [22]:
new1.isna().sum()

index    0
rel      0
from     0
to       0
0        0
dtype: int64